.tea {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

.tea h3 {
  margin: 0 0 0.25rem 0;
}

.tea h3:hover,
.tea h3:active {
  color: #1c6387;
  border-color: #1c6387;
}

.description {
  font-style: italic;
}

.price {
  margin-top: 0.25rem;
  font-weight: bold;
  color: #0269ad;
  font-size: 1.25rem;
}

.amount {
  font-weight: bold;
  color: black;
  font-size: 1.25rem;
}